<div class="product--section">
  <div class="page-width">
  <div class="product--wrapper">
    <div class="product--left">

      <div class="product--left-wrapper">

      <div class="product--section-heading">
        <h2>{{ section.settings.heading }}</h2>
      </div>

      {% for block in section.blocks %}

        {% case block.type %}

          {% when 'links' %}

          <div class="product--block product--lnks">
            <div class="pb-row">
              <div class="pb-left">
                <span>{{ block.settings.link_title_1 }}</span>
              </div>
              <div class="pb-left">
                <a href="{{ block.settings.url_1 }}">View</a>
              </div>
            </div>

            <hr>

            <div class="pb-row">
              <div class="pb-left">
                <span>{{ block.settings.link_title_2 }}</span>
              </div>
              <div class="pb-left">
                <a href="{{ block.settings.url_2 }}">View</a>
              </div>
            </div>
          </div>

          {% when 'info' %}

          <div class="product--block">
            <div class="info-table">
              <table>
              <tbody>
              <tr>
              <td>{{ block.settings.question_1 }}</td>
              <td>{{ block.settings.answer_1 }}</td>
              </tr>
              <tr>
              <td>{{ block.settings.question_2 }}</td>
              <td>{{ block.settings.answer_2 }}</td>
              </tr>
              <tr>
              <td>{{ block.settings.question_3 }}</td>
              <td>{{ block.settings.answer_3 }}</td>
              </tr>
              <tr>
              <td>{{ block.settings.question_4 }}</td>
              <td>{{ block.settings.answer_4 }}</td>
              </tr>
              </tbody>
              </table>
            </div>
          </div>

          {% when 'description' %}

            <div class="product--block" >
              <div id="prod-des" class="description-block rte">
                {{ block.settings.description }}
              </div>

              <div id="showmore" class="show-more">
                <span>Click to see more</span>
                <img src="https://cdn.shopify.com/s/files/1/0566/5777/2640/files/iconmonstr-angel-down-thin-32.png?v=1708945729"/>
              </div>
            </div>
          
        {% endcase %}
      {% endfor %}
      
      </div>
    </div>

    
    <div class="product--right">
      <div class="pr-wrapper">

        {% for block in section.blocks %}
  
          {% case block.type %}
  
            {% when 'product-title' %}
  
            <div class="product-title--block">
              {{ block.settings.title }}
            </div>
            
            {%- when '@app' -%}
                  {% render block %}
  
          {% endcase %}
        {% endfor %}
      </div>
    </div>

    
    </div>
  </div>
</div>


<script>
document.getElementById('showmore').addEventListener('click', function() {
    this.classList.toggle('opened');
    var prodDes = document.getElementById('prod-des');
    prodDes.classList.toggle('full-height');
    if (prodDes.classList.contains('full-height')) {
        prodDes.style.maxHeight = prodDes.scrollHeight + "px";
    } else {
        prodDes.style.maxHeight = '300px';
    }

});
</script>

{% schema %}
  {
    "name": "Product Section",
    "settings": [
      {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "name": "Links",
        "type": "links",
        "settings": [
          {
            "type": "text",
            "id": "link_title_1",
            "label": "Link Title 1"
          },
          {
            "type": "url",
            "id": "url_1",
            "label": "URL 1"
          },
          {
            "type": "text",
            "id": "link_title_2",
            "label": "Link Title 2"
          },
          {
            "type": "url",
            "id": "url_2",
            "label": "URL 2"
          }
        ]
      },
      {
        "name": "Info",
        "type": "info",
        "settings": [
          {
            "type": "text",
            "id": "question_1",
            "label": "Question 1",
            "default": "Type of Accident"
          },
          {
            "type": "text",
            "id": "answer_1",
            "label": "Answer 1",
            "default": "Workers Comp"
          },
          {
            "type": "text",
            "id": "question_2",
            "label": "Question 2",
            "default": "Date of Accident"
          },
          {
            "type": "text",
            "id": "answer_2",
            "label": "Answer 2"
          },
          {
            "type": "text",
            "id": "question_3",
            "label": "Question 3",
            "default": "Currently Represented By Attorney?"
          },
          {
            "type": "text",
            "id": "answer_3",
            "label": "Answer 3",
            "default": "No"
          },
          {
            "type": "text",
            "id": "question_4",
            "label": "Question 4",
            "default": "Was The Client At Fault?"
          },
          {
            "type": "text",
            "id": "answer_4",
            "label": "Answer 4",
            "default": "No"
          }
        ]
      },
      {
        "name": "Description",
        "type": "description",
        "settings": [
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      },
      {
        "name": "Product Title",
        "type": "product-title",
        "settings": [
          {
            "type": "richtext",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Section"
      }
    ]
  }
{% endschema %}